:root {
	--color-main: #4d4c7d;
	--color-main-secondary: #4d4c7d;
	--color-main-light: #827397;
	--color-main-strong: #363062;
	--color-hover: rgba(130, 115, 151, 0.2);
	--color-green: #03a66d;
	--color-red: #cf304a;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	overflow: hidden;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #e9d5ca;
}

.App {
	display: flex;
	justify-content: center;

	.wrapper {
		max-width: 1440px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0 40px;
	}
}

@media screen and (max-width: 1024px) {
	.App {
		.wrapper {
			margin: 0 20px;
		}
	}
}
