.card {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border: 2px solid var(--color-main-light);
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: var(--color-hover);
    }

    &__header,
    &__body {
        display: flex;
        flex-direction: row;
        font-weight: bold;

        & > *:not(.card__header__number, .cards__designations__header__number) {
            width: 200px;
            display: flex;
            justify-content: center;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 40px;

        &__number {
            color: var(--color-main-light);
        }

        &__symbol {
            font-size: 24px;
            color: var(--color-main);

            &__dollar {
                color: var(--color-main-strong);
            }
        }

        &__symbol-2 {
            color: var(--color-main-strong);
        }
    }

    &__body {
        gap: 100px;
        font-size: 20px;
        width: max-content;

        &__open-price {
            color: var(--color-main);
            font-size: 24px;
        }

        &__price-change {
            &--positive {
                color: var(--color-green);
            }

            &--negative {
                color: var(--color-red);
            }
        }
    }

    @media screen and (max-width: 1440px) {
        & {
            &__body {
                gap: 40px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .card {
            &__header,
            &__body {
                & > *:not(.card__header__number, .cards__designations__header__number) {
                    width: 100px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        & {
            padding: 15px 20px;

            &__header,
            &__body {
                gap: 20px;

                & > *:not(.card__header__number, .cards__designations__header__number) {
                    width: 80px;
                }
            }

            &__header {
                &__symbol {
                    font-size: 18px;
                }
            }

            &__body {
                &__open-price,
                &__price-change {
                    font-size: 18px;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        & {
            padding: 15px 10px;

            &__header,
            &__body {
                gap: 10px;

                & > *:not(.card__header__number, .cards__designations__header__number) {
                    width: 60px;
                }
            }

            &__header {
                &__number {
                    font-size: 10px;
                }

                &__symbol {
                    font-size: 14px;
                    width: 40px !important;
                }
            }

            &__body {
                &__open-price,
                &__price-change {
                    font-size: 14px;
                }

                &__price-change {
                    width: 50px !important;
                }
            }
        }
    }
}
