.cards {
    width: 100%;

    &__container {
        display: grid;
        gap: 40px;
    }

    &__show-more-button {
        display: flex;
        justify-content: center;
        margin: 80px 0;
    }

    &__designations {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        color: var(--color-main-light);
        margin-bottom: 15px;

        &__header,
        &__body {
            font-weight: lighter;
            font-size: 16px;
        }

        &__show-more-button {
            margin: 40px 0;
        }
    }

    @media screen and (max-width: 768px) {
        & {
            &__container {
                gap: 20px;
            }
    
            &__designations {
                padding: 0 20px;
    
                &__header,
                &__body {
                    font-size: 13px !important;
                }
            }
    
            &__show-more-button {
                margin: 20px 0;
            }
        }
    }
    
    @media screen and (max-width: 480px) {
        & {
            &__designations {
                padding: 0 20px;
    
                &__header,
                &__body {
                    font-size: 10px;
                }
            }
        }
    }
}
